html
  head
    title= title
  body
   - const divColors = { "color": "mint", "background-color": "darkturquoise","margin":"20vw auto",
   "width": "30vw" }

    div(style=divColors)
        h1= message