html
  head
    title= title
  body
 

    div
        h1= message
  style.
    div {
        color: mint;
        background-color: darkturquoise;
        margin:20vw auto;
        width: 30vw;
        height: 30vw;
        padding: 30px; 
    } 
    h1 {
        text-align: center;
    }   line-height: 30vw;  